// ----------------------------------------------------------------------------------
// Forms
.form-field {
	& {
		position: relative;
		width: 100%;
		border: 1px solid $grey-light;
	}

	&:focus {
		outline: 0;
		border-color: $grey;
	}

	&.disabled {
		background: $grey-light;
	}
}

.form-item + .form-item {
	margin: 10px 0 0 0;
}

.form-item .form-item {
	margin-top: 0;
}

.form-label {
	display: block;
}

/* button
----------------------------------------------------------------------------------------*/
.form-actions {
	& {
		margin: 10px 0 0 0;
	}

	.button {
		margin: 0 5px 0 0;
		vertical-align: middle;
	}
}

.form-actions-right {
	& {
		text-align: right;
	}

	.button {
		margin: 0 0 0 5px;
	}
}

.button {
	& {
		margin: 0;
		padding: 7px 15px;
		border: 0;
		background: $grey-light;
		color: $black;
		line-height: 1;
		vertical-align: top;
		cursor: pointer;
	}

	&:hover, &:focus, &:active {
		background-color: $grey;
		color: $white;
		text-decoration: none;
	}
}

a.button {
	display: inline-block;
}

.button-submit {
	background-color: $color-brand;
	color: $white;
}

.button-submit:hover, .button-submit:focus {
	background-color: $color-brand-dark;
	color: $white;
}

.button-icon {
	& {
		position: relative;
	}

	&:before {
		position: absolute;
		top: 0; left: 0;
		width: 28px;
		line-height: 28px;
		display: block;
		font-family: 'icons';
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.button-large {
		& {
			padding-left: 45px;
		}

		&:before {
			width: 47px;
			line-height: 47px;
		}

		&.icon-level-up:before {
			font-size: 13px;
		}
	}
}

.button-small {
	padding: 5px 9px;
}

.button-large {
	padding: 15px 25px;
	font-size: 17px;
	letter-spacing: 1px;
}

/* form-inline
----------------------------------------------------------------------------------------*/
.form-inline {
	.form-field, .button {
		margin: 0;
	}

	.form-item, .form-field, .form-actions {
		margin: 0 1px 0 0;
		float: left;
	}

	.form-radio, .form-checkbox {
		margin: 0 10px 0 0;
  }

	.form-label {
		display: none;
	}

	input[type='submit'], button, .button {
		min-height: 24px;
		padding: 5px 15px;
	}
}

/* checkbox | radio
----------------------------------------------------------------------------------------*/
.form-radio, .form-checkbox {
	.form-label {
		float: left;
	}

	.form-field {
		& {
			float: left;
			margin: 0 4px 0 0;
		}

		input {
			position: relative;
			top: 2px;
			left: 1px;
		}
	}
}

.form-radio-inline, .form-checkbox-inline  {
	.form-item {
		float: left;
	}

	.form-item + .form-item {
		padding: 0 0 0 10px;
	}
}