// ---------------------------------------------------------------------------------------------------------------------
// Navigation
.navigation {
	a, .navigation--item {
		display: block;
		text-decoration: none;
	}
}

.navigation-horizontal {
	& > ul {
		@include clearfix();
	}

	& > ul > li {
		& {
			float: left;
		}
	}

	&.navigation-right {
		& {
			@include clearfix();
		}

		ul {
			float: right;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Pager
.pager {
	&.pager-center ul {
		text-align: center;
	}

	li {
		display: inline-block;
	}
}