// ---------------------------------------------------------------------------------------------------------------------
// Colors
$grey-dark: 		#323232 !default;
$grey: 					#767676 !default;
$grey-light: 		#f3f3f3 !default;


$white: 	#fff;
$black:		#000;

$color-brand-light:	#f76e42;
$color-brand: 			#f76e42;
$color-brand-dark: 	#ea561f;

$red: 	#ff4940;
$green:	#8ac034;

// ---------------------------------------------------------------------------------------------------------------------
// Fonts
$font-default: 				'Source Sans Pro', Arial, sans-serif;
$font-default-size:		14px !default;
$font-default-color:	$grey-dark !default;

$font-heading-family: $font-default !default;
$font-heading-color: 	$font-default-color !default;

$font-heading-h1: 52px !default;
$font-heading-h2: 34px !default;
$font-heading-h3: 24px !default;
$font-heading-h4: 18px !default;
$font-heading-h5: 14px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Breadpoint
$breakpoint-xs: 480px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 980px !default;
$breakpoint-lg: 1200px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid
$grid-columns: 			24 !default;
$grid-gutter-width: 10px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Transition
$transition-base-duration: 0.25s;
$transition-base-function: ease;

// ---------------------------------------------------------------------------------------------------------------------
// Border Radius
$border-radius-default:	2px;