// ---------------------------------------------------------------------------------------------------------------------
// Colors
$grey-dark: 		#362D2F !default;
$grey-darker: 	#2f2f2f !default;
$grey: 					#454545 !default;
$grey-lighter: 	#e4e4e4 !default;
$grey-light: 		#f3f3f3 !default;


$white: 	#fff;
$black:		#000;

$color-brand: 			#f77602;
$color-brand-dark: 	#f1632e;

// ---------------------------------------------------------------------------------------------------------------------
// Fonts
$font-default: 				'Titillium Web', Arial, sans-serif;
$font-default-size:		14px !default;
$font-default-color:	$grey-dark !default;

$font-heading-family: $font-default !default;
$font-heading-color: 	$font-default-color !default;

$font-heading-h1: 52px !default;
$font-heading-h2: 34px !default;
$font-heading-h3: 24px !default;
$font-heading-h4: 18px !default;
$font-heading-h5: 14px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Breadpoint
$breakpoint-xs: 480px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 980px !default;
$breakpoint-lg: 1200px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid
$grid-columns: 			24 !default;
$grid-gutter-width: 10px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Transition
$transition-base-duration: 0.25s;
$transition-base-function: ease;

// ---------------------------------------------------------------------------------------------------------------------
// Border Radius
$border-radius-default:	2px;