// Imports
// ---------------------------------------------------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import 'variables';
@import 'mixins';
@import 'icons';
@import 'normalize';
@import 'scaffolding';
@import 'navigation';
@import 'grid';
@import 'form';
@import 'bootstrap';
@import 'modal';

// ---------------------------------------------------------------------------------------------------------------------
// HTML
body {
	padding: 40px 0;
	background: $grey-light;
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout
.page--header {
	& {
		position: fixed;
		top: 0;
		left: 0; right: 0;
		z-index: 100;
		height: 40px;
		padding: 0 10px;
		border-bottom: 1px solid darken($grey-light, 10%);
		background: darken($grey-light, 5%);
	}

	.navigation {
		li + li {
			margin: 0 0 0 5px;
		}

		a, .navigation--item {
			& {
				display: block;
				line-height: 40px;
				padding: 0 15px;
				font-weight: 600;
				color: $font-default-color;
				cursor: pointer;
			}

			&:hover {
				background: darken($grey-light, 10%);
			}
		}

		.active {
			& > a, & > .navigation--item {
				background: $grey-light;
				color: $font-default-color;
			}
		}
	}
}

.body--header {
	min-height: 75px;
	padding: 10px 20px;
	border-bottom: 1px solid darken($grey-light, 5%);
	background: $grey-light;
}

.body--header-title {
	margin: 25px 0 0 0;
	font-size: 24px;
}

.body--container {
	margin: 10px 0 0 0;
	padding: 0 20px;
}

.page--footer {
	& {
		position: fixed;
		bottom: 0;
		left: 0; right: 0;
		z-index: 100;
		height: 45px;
		padding: 0 10px;
		border-top: 1px solid $grey-light;
		background: $white;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Clearfix
.clearfix {
	@include clearfix();
}

// ---------------------------------------------------------------------------------------------------------------------
// Container
.container {
	& + .container {
		margin: 10px 0 0 0;
	}

	.container--header {
		margin: 0 0 10px 0;
		font-weight: 600;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Placeholder
.placeholder {
	& {
		display: flex;
		min-height: 40px;
		align-items: center;
		background: $grey;
	}

	.placeholder--title {
		flex: 1;
		text-align: center;
		color: $grey-light;
	}

	& + .placeholder {
		margin: 10px 0 0 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Resource
.resources {
	background: $white;
	@include clearfix();
}

.resource {
	height: 45px;
	margin: 5px 0;
	background: $grey;
}

.resource--header {
	& {
		padding: 5px;
		font-size: 13px;
	}

	.resource--header-name {
		overflow: hidden;
		color: $grey-light;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.resource--header-namespace {
		overflow: hidden;
		font-size: 12px;
		color: lighten($grey, 35%);
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.resource--unit {
	& {
		width: 50px;
		height: 45px;
		float: left;
		line-height: 41px;
		border: 2px solid $grey;
		background: $white;
		font-weight: 600;
		text-align: center;
	}

	& + .resource--header {
		margin: 0 0 0 50px;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Objekt Properties
.object--properties {
	margin: 0 -3px;
	@include clearfix();
}
.object--property {
	& {
		float: left;
		margin: 3px;
		font-size: 13px;
	}

	.object--property-value {
		& {
			width: 35px;
			line-height: 25px;
			float: left;
			border: 2px solid darken($grey-light, 5%);
			background: $white;
			font-weight: 600;
			text-align: center;
		}

		&.object--property-value-plus {
			color: $green;
		}

		&.object--property-value-minus {
			color: $red;
		}
	}

	.object--property-title {
		margin: 0 0 0 35px;
		padding: 0 5px;
		line-height: 29px;
		background: $grey-light;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Tabs
.tabs {
	.tabs--navigation {
		& {
			background: $grey-light;
		}

		ul {
			@include clearfix();
		}

		li {
			float: left;
		}

		li + li {
			margin: 0 0 0 5px;
		}

		a {
			& {
				display: block;
				line-height: 40px;
				padding: 0 15px;
				font-weight: 600;
				color: $font-default-color;
				cursor: pointer;
			}

			&:hover {
				background: darken($grey-light, 5%);
			}
		}

		.active {
			& > a, & > .navigation--item {
				background: $white;
				color: $font-default-color;
			}
		}
	}

	.tabs--content {
		.tabs--item {
			padding: 10px 0;
			background: $white;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Breadcrumb
.breadcrumb {
	li {
		& {
			float: left;
		}

		& + li {
			& {
				margin: 0 0 0 10px;
			}

			&:before {
				content: '/';
				position: static;
				display: inline-block;
				margin: 0 10px 0 0;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Modal
.modal {
	& {
		background: $white;
		text-align: left;
	}

	&.modal-large {
		max-width: 980px;
	}

	&.modal-medium {
		max-width: 640px;
	}

	.modal--close {
		& {
			position: absolute;
			top: 0; right: 0;
			width: 60px;
			height: 60px;
			line-height: 60px;
			border: 0;
			background: transparent;
			color: tint($color-brand-light, 50%);
		}

		&:before {
			content: '\e900';
			@include font-icon();
			transition-duration: 0s;
		}

		&:hover {
			background: $color-brand-dark;
			color: $white;
		}
	}

	.modal--header {
		min-height: 60px;
		padding: 0 10px;
		line-height: 60px;
		background: $color-brand;
	}

	.modal--breadcrumb {
		li {
			& {
				color: tint($color-brand-light, 50%);
			}

			&:last-child span {
				font-weight: 600;
				color: $white;
			}

			a {
				color: tint($color-brand-light, 50%);
			}

			a:hover, a:focus {
				color: $white;
			}
		}
	}

	.modal--body {
		& {
			padding: 10px;
		}

		& + .modal--body {
			border-top: 1px solid $grey-light;
		}

		&.modal--body-grey {
			& {
				background: $grey-light;
			}

			& + .modal--body {
				border-top: 2px solid darken($grey-light, 5%);
			}
		}
	}
}

.object-modal {
	.object--placeholder {
		min-height: 180px;
	}

	.object--title {
		margin: 0 0 25px 0;
		font-size: 23px;
		font-weight: 300;
		line-height: 1.1;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Maps
.map {
	overflow: hidden;
}

.map--tiles-container {
	width: 5000px;
	margin: -1px 0;
}

.map--tiles {
	margin: 0 -1px;
	@include clearfix();
}

.map--tile {
	& {
		position: relative;
		width: 82px;
		height: 60px;
		float: left;
		margin: 1px;
		background: $grey-light;
	}

	&:hover {
		.map--tile-create {
			display: block
		}
	}

	.map--tile-object, .map--tile-object-create {
		height: 100%;
		background: $grey;
	}

	.map--tile-create {
		display: none;
	}

	.object {
		& {
			padding: 3px 5px;
		}

		.object--name, .object--namespace {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			line-height: 1.2;
		}

		.object--name {
			font-size: 11px;
			font-weight: 600;
			color: $grey-light;
		}

		.object--namespace {
			font-size: 10px;
			color: lighten($grey, 35%);
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// World Map
.world-map {
	margin: -5px 0;
	overflow: hidden;
}

.world-map--tile-container {
	width: 5000px;
}

.world-map--tiles {
	margin: 0 -5px;
	@include clearfix();
}

.world-map--tile {
	& {
		width: 130px;
		height: 105px;
		float: left;
		margin: 5px;
		padding: 5px;
		background: $grey-light;
	}

	.world-map--tile-action {
		& {
			display: inline-block;
			margin: 0 0 2px 0;
			padding: 0 3px;
			background: $grey;
			line-height: 21px;
			font-size: 11px;
			color: $grey-light;
		}

		&:hover {
			background: $color-brand;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Colony
.colony--pager {
	& {
		line-height: 30px;
		font-size: 18px;
	}

	.colony--pager-previous, .colony--pager-next {
		.icon {
			display: inline-block;
			width: 30px;
			color: $grey-dark;
		}

		.icon:before {
			position: relative;
			top: 2px;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Commander
#commander {
	.dropdown--trigger {
		& {
			display: inline-block;
			line-height: 40px;
			padding: 0 15px;
			font-weight: 600;
			color: $font-default-color;
		}

		&:hover {
			background: darken($grey-light, 10%);
		}
	}

	.dropdown--container {
		top: 40px;
		left: auto; right: 0;
		min-width: 450px;
		padding: 10px;
		background: $white;
	}

	&.on {
		.dropdown--trigger {
			background: $white;
			color: $font-default-color;
		}
	}

	.placeholder {
		min-height: 200px;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Turn
.turn {
	& {
		display: inline-block;
		margin: 9px 0 0 0;
		line-height: 28px;
	}

	.turn--title {
		float: left;
		padding: 0 15px;
		border-right: 1px solid $white;
		background: $grey-light;
	}

	.turn--action {
		& {
			float: left;
		}

		.button {
			vertical-align: baseline;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Settings
#settings--trigger {
	display: inline-block;
	line-height: 45px;
	padding: 0 20px;
	color: $grey-light;
	text-transform: uppercase;
}