// Imports
// ---------------------------------------------------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600);
@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'scaffolding';
@import 'grid';
@import 'form';

// ---------------------------------------------------------------------------------------------------------------------
// HTML
body {
	padding: 10px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Container
.container {
	& {
		padding: 10px;
		background: $grey-light;
	}

	& + .container {
		margin: 10px 0 0 0;
	}

	.container--header {
		margin: 0 0 10px 0;
		font-weight: 600;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Placeholder
.placeholder {
	& {
		display: flex;
		min-height: 40px;
		align-items: center;
		background: $grey-darker;
	}

	.placeholder--title {
		flex: 1;
		text-align: center;
		color: $grey-lighter;
	}

	& + .placeholder {
		margin: 10px 0 0 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// World Map
#world-map--container {
	min-width: 350px;
	height: 320px;
}

.world-map--tile {
	width: 100px;
	height: 100px;
}